@@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-layout="horizontal" data-topbar="dark" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="" data-preloader="enable">
<head>
    <meta charset="utf-8" />
    <title>Timbangan Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="System Penimbangan Online UPST Dinas Lingkungan Hidup Prov. DKI Jakarta" name="description" />
    <meta content="Rangga Dwi" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/logo-dinas.ico" />

    <!-- gridjs css -->
    <link rel="stylesheet" href="~/assets/libs/gridjs/theme/mermaid.min.css" />

    <!-- Form Autocomplete -->
    <link rel="stylesheet" href="~/assets/libs/tarekraafat/autocomplete.js/css/autoComplete.css" />

    @await RenderSectionAsync("plugincss", required: false)

    <!-- Layout config Js -->
    <script src="~/assets/js/layout.js"></script>

    <!-- Bootstrap Css -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />    

    <!-- Icons Css -->
    <link href="~/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <!-- custom Css-->
    <link href="~/assets/css/custom.min.css" rel="stylesheet" type="text/css" />

    @await RenderSectionAsync("styles", required: false)

</head>

<body>
    <!-- Begin page -->
    <div id="layout-wrapper">
        <partial name="_TopBarMasuk" />

        <!-- ========== App Menu ========== -->
        @if (User.IsInRole("OpMasuk"))
        {
            <partial name="~/Views/Sidebar/MenuMasuk.cshtml" />
        } else
        {
            <partial name="~/Views/Sidebar/MenuKeluar.cshtml" />
        }
        
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">
            <div class="page-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            <partial name="_Foot" />
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
    <!--start back-to-top-->
    <button onclick="topFunction()"
            class="btn btn-danger btn-icon"
            id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->
    <!--preloader-->
    <partial name="_PreLoader" />

    <!-- JAVASCRIPT -->
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>


    <script src="~/assets/js/plugins.js"></script>

    @await RenderSectionAsync("pluginjs", required: false)

    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
