<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a asp-action="Dashboard" asp-controller="Home" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/logo/logo2.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo/logo-dark.png" alt="" height="22">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/logo/logo2.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/logo/logo-light.png" alt="" height="22">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu">
            </div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>

                <li class="nav-item">
                    <a asp-action="Masuk" asp-controller="Transaction" class='nav-link menu-link @(ViewBag.Title == "Timbangan Masuk" ? "active" : "")'>
                        <i class="ri-dashboard-2-line"></i> <span data-key="t-masuk">Timbangan Masuk</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Home" class='nav-link menu-link @(ViewBag.Title == "Edit Transaksi" ? "active" : "")'>
                        <i class="ri-pencil-line"></i> <span data-key="t-edit-transaksi">Edit Transaksi</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>