@page
@model LoginOldModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="~/images/login/favicon.ico" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/style.css" />
        <title>Login - Timbangan Bantargebang</title>
    </head>
    <body>
        <div class="container-fluid vh-100">
            <div class="row h-100">
                <div id="left" class="bg-mesh col-lg-4 col-md-6 col-12 px-0">
                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                        <img id="logo" src="~/images/login/logo.png" alt="Logo UPST" loading="lazy" />
                        <h1 id="sign-in" class="fw-bold">Sign-In</h1>
                        <p class="text-muted text-center fst-italic px-4">
                            Sistem Timbangan Online UPST Dinas Lingkungan Hidup
                        </p>

                        <form id="account" method="post" class="w-75 needs-validation mt-0 mt-md-4" novalidate>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mt-3 mt-md-4">
                                <label class="form-label fs-5 fw-semibold">Username</label>
                                <input asp-for="Input.Email" class="form-control p-3 fw-semibold" required />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="mt-4">
                                <label class="form-label fs-5 fw-semibold">Password</label>
                                <div class="password-wrapper mb-3">
                                    <input asp-for="Input.Password" class="form-control p-3 pe-5 fw-semibold pwd" required />
                                    <img src="~/images/login/eye-slash.svg" alt="Eye Toggle" id="togglePassword" loading="lazy" />
                                </div>
                            </div>
                            <div class="mt-4 form-check d-flex justify-content-between">
                                <div>
                                    <input asp-for="Input.RememberMe" class="form-check-input" readonly />
                                    <label asp-for="Input.RememberMe" class="form-check-label">Remember me</label>
                                </div>
                                <a href="#" class="text-dark">Forgot Password</a>
                            </div>
                            <div class="mt-5">
                                <button type="submit" class="btn btn-dark w-100 fs-5 py-2">
                                    Sign In
                                </button>
                            </div>
                        </form>
                    </div>
                    <div id="copyright" class="text-center text-muted fw-medium">
                        &#169;2023 UPST Dinas Lingkungan Hidup
                    </div>
                </div>
                <div id="right" class="col-lg-8 col-md-6 d-none d-md-block px-0">
                    <img src="~/images/login/timbangan-2.png" alt="Timbangan" class="w-100 vh-100 object-fit-cover" style="object-position: center center" loading="lazy" />
                </div>
            </div>
        </div>

        <script defer>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (() => {
                "use strict";

                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                const forms = document.querySelectorAll(".needs-validation");

                // Loop over them and prevent submission
                Array.from(forms).forEach((form) => {
                    form.addEventListener(
                        "submit",
                        (event) => {
                            if (!form.checkValidity()) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add("was-validated");
                        },
                        false
                    );
                });
            })();

            // Toggle Password Show/Hide
            const password = document.querySelector("#password");
            const toggleEye = document.querySelector("#togglePassword");
            toggleEye.addEventListener("click", function () {
                if (this.src.split("/").pop() == "eye-slash.svg") {
                    this.src = "/images/login/eye.svg";
                    password.type = "text";
                } else {
                    this.src = "/images/login/eye-slash.svg";
                    password.type = "password";
                }
            });
        </script>
    </body>
</html>