@model SharedLibrary.Entities.Common.Client

<form asp-action="Store" asp-controller="Penugasan" method="post">
    <input type="hidden" asp-for="ClientID" />
    <div class="modal-header">
        @if (Model.ClientID != Guid.Empty)
        {
            <h5 class="model-title">Edit Master Penugasan</h5>
        }
        else
        {
            <h5 class="modal-title">Tambah Master Penugasan</h5>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-group mb-3">
            <label>Nama Penugasan</label>
            <input type="text" asp-for="ClientName" class="form-control" autofocus autocomplete="off" />
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
